<%- include partials/head %>

<article class="uk-article">
	<h3 class="uk-article-title"><%= article.title %></h3>
	<span class="uk-article-meta">Author: <%= article.author %></span>
	<p><%= article.body %></p>
</article>
<hr>
<div class="uk-button-group">
	<button class="uk-button uk-button-default"><span uk-icon="icon: cog"></span></button>
	<div class="uk-inline">
		<button class="uk-button uk-button-default"><span uk-icon="icon: triangle-down"></span></button>
		<div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true">
			<ul class="uk-nav uk-dropdown-nav">
				<li>
					<a href="/article/edit/<%= article._id %>" class="uk-button uk-button-primary">Edit Article</a>
				</li>
				<li>
					<a href="#" class="uk-button uk-button-danger delete-article" data-id="<%= article._id %>">Delete</a>
				</li>
			</ul>
		</div>
	</div><!-- /uk-inline -->
</div><!-- /uk-button-group -->

<%- include partials/footer %>
